<h2>Book a Stay!</h2>
<form name="bookForm" (submit)="book()">
    <div class="row">
        <div class="col-md-6">
            <mat-form-field>
                <mat-label>Guest:</mat-label>
                <mat-select [(ngModel)]="GuestID" name="ID">
                    <mat-option *ngFor='let guest of guests' [value]="guest.ID">{{guest.UserName}}, ID: {{guest.ID}}</mat-option>
              </mat-select>
            </mat-form-field>
            <br />
            <mat-form-field *ngIf="date !== null">  
                <mat-label>Pick a Room:</mat-label>
                <mat-select [(ngModel)]="Room" name="roomID" >
                    <ng-container *ngFor="let room of rooms">
                    <mat-option [value]="room">{{room.RoomName}}, ${{room.DailyRate}}</mat-option>
                </ng-container>
            </mat-select>
            </mat-form-field>
            <br /> 
            <label>Pick a Date:</label><br />
            <input [matDatepicker]="datePicker" [(ngModel)]="date" name="date" (dateChange)="filterRooms($event)"  >
            <mat-datepicker-toggle [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker (selectedChanged)="filterRooms($event)"></mat-datepicker>  
         <br />
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-secondary" style="margin-left: 20px;" (click)="clear()">Reset</button>
    </div>
</div>
</form>
