<h2>{{ isNew ? 'Add' : 'Edit'}} Room</h2>

<form [formGroup] = "tavernForm" (submit)="editRoom()">
    <div class="row">
        <div class="col-md-6">
            <label>Room Name</label>
            <input 
                type="text" 
                maxlength="100" 
                class="form-control"
                formControlName="RoomName"
            >
            <div
            *ngIf="
                tavernForm.controls.RoomName.invalid &&
                (tavernForm.controls.RoomName.dirty ||
                    tavernForm.controls.RoomName.touched)
            "
            class="alert alert-danger"
        >
            <div *ngIf="tavernForm.controls.RoomName.errors.required">
                Name is Required.
            </div>
            <div *ngIf="tavernForm.controls.RoomName.errors.maxlength">
                Max length for Name is 100.
            </div>
        </div>
        <label>Daily Rate</label>
            <input 
                type="text" 
                class="form-control"
                formControlName="DailyRate"
            >
            <div
            *ngIf="
                tavernForm.controls.DailyRate.invalid &&
                (tavernForm.controls.DailyRate.dirty ||
                    tavernForm.controls.DailyRate.touched)
            "
            class="alert alert-danger"
        >
            <div *ngIf="tavernForm.controls.DailyRate.errors.required">
                Rate is Required.
            </div>
        </div>
    </div>
</div>
<br />
<button type="submit" class="btn btn-success">Save</button>
</form>
